body {
  /*font-family: Inter, Avenir, Helvetica, Arial, sans-serif;*/
}

.shiki{
  /*font-size: 12px;*/
  /*line-height: 20px;*/
}

.shiki > code {
  font-size: 12px;
  /*font-family: "IBMPlexMono";*/
  line-height: 24px;
}

.shiki {
  /*font-family: Source Code Pro,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;*/
}

.shiki span{
  /*font-size: 12px;*/
  /*line-height: 20px;*/
}

.highlighted-word{
  background-color: pink;
}


.highlighted-word-blue{
  background-color: lightblue;
}


code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}
